<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block nav_block %}    
<div class="w nav">
        <ul style="margin-left:320px">
            <li>
                <a href="#" style="border: 0;">Home</a>
            </li>
            <li>
                <a href="#">Hot</a>
            </li>
            <li>
                <a href="#">My Order</a>
            </li>
            <li>
                <a href="#">My Account</a>
            </li>
        </ul>
</div>
{% endblock %}

{% block content_block %}
  <div class="container w">
      <div class="ad1">
          <img src="{% static "images/lol.jpg" %}" width="200px" height="400px" />
      </div>

      <div class="content">
          <div class="clearfix">
          <br>
              <img src="{% static "images/mail.jpg" %}" title="picture" width="100px" style="float: left;margin-left: 100px;" />
              <h6 style="float: left;margin: 40px 0px 0 60px;">hello, XXX, Welcome</h6>
          </div>
          <div style="margin-left: 20px">
            <br>
            {% if accounts %}
            {% for account in accounts %}
            
            <div class="card one">
                <li><a href="{% url 'rango:account_detail' account.accountName %}">{{account.accountName}}</a></li>
                <span>Description: {{account.description}}</span>
            </br>
                  <span>Price:{{account.price}}</span>
            </br>
                  <span>seller:{{account.seller}}</span>
                 
            </div>
            
            {% endfor %}
            {% else %}
              <strong>There are no accounts in this category</strong>
            {% endif %}
          </div>
      </div>

      <div class="ad2">
          <img src="{% static "images/Overwatch.jpg" %}" width="200px" height="400px" />
      </div>
  </div>

  <script language="javascript">
    function MsgBox() 
    {
      var r = confirm("Do you confirm to buy this account?");
      if (r == true) {
        var slug=window.location.pathname.split("/")[3]
        window.location.href="http://localhost:8000/rango/buy/"+slug;
        
      }
    }
  </script>

  <style>
    body{
      margin: 0;
      padding: 0;
    }
  
    .card{
        width: 42vw;
        height: 12vh;
        
        border-radius: 2vh;
        margin: 2vh;
        border-radius: 12px;

        color: #070707;
        cursor: pointer;
        transition: all 1s ease;
        display: block;
        
    }
    .one{
        background-color: #ededf3;
        
        z-index: 1;
        opacity: 0.9;
      }
  </style>

{% endblock %}

