<!DOCTYPE html>
<html>
<head>
    <title>Account the lease</title>
</head>
<body>
    <div>
    {% if category %}
        <h1>{{ category.name }}</h1>>
        {% if accountList %}
            <ul>
            {% for account in accountList %}
                <li><a href="{% url 'rango:detailurl' GameAccount.accountName %}">{{ GameAccount.accountName }}</a>></li>>
            {% endfor %}
            </ul>>
        {% else %}
            <strong>No pages currently in category.</strong>>
        {% endif %}
    {% else %}
        The specified category does not exist!
    {% endif %}
    </div>>
</body>
</html>
