<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load static %}

{% block nav_block %}    
<div class="w nav">
        <ul style="margin-left:320px">
            <li>
                <a href="{% url 'rango:index' %}" class="select_nav">Home</a>
            </li>
            <li>
                <a href="{% url 'rango:myorder' %}">My Orders</a>
            </li>
            <li>
                <a href="{% url 'rango:myaccount' %}">My Accounts</a>
            </li>
            {% if user.is_authenticated %}
                <!-- Show these links when the user is logged in -->
                <li><strong>welcome back  {{ user.username }}!</strong></li>
                <li><a href="{% url 'rango:logout' %}">Logout</a></li>
            {% else %}
                <!-- Show these links when the user is NOT logged in -->
                <li><a href="{% url 'rango:register' %}">Sign Up</a></li>
                <li><a href="{% url 'rango:login' %}">Login</a></li>
            {% endif %}
        </ul>
</div>
{% endblock %}

{% block content_block %}
<div class="container w">
    <div class="ad1">
        <img src="{% static "images/lol.jpg" %}" width="200px" height="400px" />
</div>

<div class="w">
    <div class="content">
                <h1>Choose a game first!</h1>
                
                <div>   
                    These are all we got here! <br />
                <strong>{{ boldmessage }}</strong><br />
                </div>
                <div>
                {% if categories %}
                 <ul>
                    {% for category in categories %}
                    <div class="card one">
                        <h2><li><a href="{% url 'rango:accountList' category.name %}">{{ category.name }}</a></li></h2>
                        
                    </div>
                        
                    {% endfor %}
                 </ul>
                {% else %}
                    <strong> There are no categories present.</strong>>
                {% endif %}
                </div>
    </div>
</div>

<div class="ad2">
     <img src="{% static "images/Overwatch.jpg" %}" width="200px" height="400px" />
</div>

<style>
    body{
      margin: 0;
      padding: 0;
    }
  
    .card{
        width: 42vw;
        height: 6vh;
        
        border-radius: 2vh;
        margin: 2vh;
        border-radius: 12px;

        color: #070707;
        cursor: pointer;
        transition: all 1s ease;
        display: block;
        
    }
    .one{
        background-color: #ededf3;
        
        z-index: 1;
        opacity: 0.9;
      }
  </style>
{% endblock %}
