<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load static %}

{% block nav_block %}    
<div class="w nav">
        <ul style="margin-left:320px">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Hot</a>
            </li>
            <li>
                <a href="{% url 'rango:myorder' %}">My Orders</a>
            </li>
            <li>
                <a href="{% url 'rango:myaccount' %}" class="select_nav">My Accounts</a>
            </li>
            <li>
                <a href="#">Register</a>
            </li>
            <li>
                <a href="#">Login</a>
            </li>
        </ul>
</div>
{% endblock %}

{% block content_block %}
    <div class="container w">
        <div class="ad1">
            <img src="{% static "images/lol.jpg" %}" width="200px" height="400px" />
        </div>
     <div class="content">
        <div class="clearfix">
            <img src="{% static "images/mail.jpg" %}" title="picture" width="100px" style="float: left;margin-left: 186px;" />
            <h6 style="float: left;margin: 40px 0px 0 60px;">hello, XXX, Welcome</h6>
        </div>
        <div class="balance" style="margin-left: 30px;">
            <form id="popup_form" method="post" action="{% url 'rango:popup' %}">
                {% csrf_token %}
                <input type="text" name="charge" placeholder="Balance:" />
                <button type="submit">Charge</button>
            </form>
        </div>
        {% if user %}
            {% for u in user %}
            <span>balance: </span>
            <span>{{u.balance}}</span>
            {% endfor %}

        {% else %}
            <div>You have not logged in</div>
        {% endif %}
    </div>

    <div class="ad2">
        <img src="{% static "images/Overwatch.jpg" %}" width="200px" height="400px" />
    </div>
    </div>


{% endblock %}
