<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load static %}

{% block nav_block %}    
<div class="w nav">
        <ul style="margin-left:320px">
            <li>
                <a href="{% url 'rango:index' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'rango:myorder' %}">My Orders</a>
            </li>
            <li>
                <a href="{% url 'rango:myaccount' %}" class="select_nav">My Accounts</a>
            </li>
            {% if user.is_authenticated %}
                <!-- Show these links when the user is logged in -->
                <li><strong>welcome back  {{ user.username }}!</strong></li>
                <li><a href="{% url 'rango:logout' %}">Logout</a></li>
            {% else %}
                <!-- Show these links when the user is NOT logged in -->
                <li><a href="{% url 'rango:register' %}">Sign Up</a></li>
                <li><a href="{% url 'rango:login' %}">Login</a></li>
            {% endif %}
        </ul>
</div>
{% endblock %}

{% block content_block %}
    <div class="container w">
        <div class="ad1">
            <img src="{% static "images/lol.jpg" %}" width="200px" height="400px" />
        </div>
     <div class="content">
        <div class="clearfix" style="margin-left: 100px">
            <br>
            <img src="{% static "images/mail.jpg" %}" title="picture" width="100px" style="float: left;margin-left: 50px;" />
            {% if user.is_authenticated %}
            <h6 style="float: left;margin: 40px 0px 0 50px;">Hello, {{user.username}}, Welcome</h6>
            {% else %}
            <h6 style="float: left;margin: 40px 0px 0 50px;">You have not logged in</h6>
            {% endif %}
        </div>
        <br>
        <div class="balance" style="margin-left: 10px;">
            <form id="popup_form" method="post" action="{% url 'rango:popup' %}">
                {% csrf_token %}
                <input type="text" name="charge" placeholder="Balance:" />
                <button type="submit">Charge</button>
            </form>
        </div>
        <br><br><br><br><br><br>
        {% if userprofile %}
            {% for u in userprofile %}
            <span style="font-size: 20px;">Your balance is: </span>
            <span style="font-size: 20px; color: rgb(226, 21, 21);">£{{u.balance}}</span>
            {% endfor %}
        {% else %}
            <div>You have not logged in</div>
        {% endif %}
    </div>

    <div class="ad2">
        <img src="{% static "images/Overwatch.jpg" %}" width="200px" height="400px" />
    </div>
    </div>


{% endblock %}
